/* all h2 elements */
h2 {
  color: purple;
  text-align: left;
  font-family: Goudy Stout;
  
}
/* all p elements */
p {
  color: purple;
  text-align: left;
  font-family: Footlight MT Light;
  font-size: 20px;
  font-weight: bold;
}
  
/* all with class="highlight" */
.highlight {
  font-size: 20px;
  font-weight: bold;
  background-color: pink;
}
/* element with id="mainPoint" */
#mainPoint {
  font-size: 24px;
  font-weight: bold;
  background-color: red;
  opacity: .7;
}
/* all h1 elements */
h1 {
  color: blue;
  text-align: center;
  font-family: Edwardian Script ITC;
  font-size: 89px;
  
}
#pagename{
           background-color: skyblue;
		   font-size: 20px;
	}
